*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.DS_Store
/cxx
*.apk
*.ap_
*.hprof
*.log
*.keystore
*.jks
*.class
*.dex
*.jar
*.war
*.ear
*.db
*.sqlite
*.bak
*.orig
*.rej
*.so
*.dll
*.exe
*.pdb
*.suo
*.user
*.chm
*.swp
*.lock
*.gz
*.zip
*.7z
*.rar
*.tar
*.tgz
*.bz2
*.lzma
*.xz
*.diff
*.patch